@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(../tDbK2oqRg1oM3QBjjcaDkOr4nAfcGw.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(../tDbI2oqRg1oM3QBjjcaDkOr9rAA.ttf) format('truetype');
}
